<div class="row">
  <div class="col-md-8">
    <h3>Employee List</h3>
    <div>
      <a class="btn btn-primary" href="#" [routerLink]="['/employee-list/add']">Add</a>
    </div>
    <table class="table table-striped" *ngIf="employees | async as empData">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of empData">
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.city }}</td>
        <td>{{ employee.state }}</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
