<div class="row my-4">
    <h3>Update Employee</h3>
    <hr/>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label" formControlName="name">Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
        />
        <div *ngIf="employeeForm.get('name').touched && !employeeForm.get('name').valid" class="text-danger">
          <div *ngIf="employeeForm.get('name').errors.required">
            Name is Required
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
        />
        <div *ngIf="employeeForm.get('email').touched && !employeeForm.get('email').valid" class="text-danger">
          <div *ngIf="employeeForm.get('email').errors.required">
            Email is Required
          </div>
          <div *ngIf="employeeForm.get('email').errors.email">Invalid Email</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">City</label>
        <input
          type="text"
          class="form-control"
          formControlName="city"
        />
        <div *ngIf="employeeForm.get('city').touched && !employeeForm.get('city').valid" class="text-danger">
          <div *ngIf="employeeForm.get('city').errors.required">
            City is Required
          </div>
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">State</label>
        <input
          type="text"
          class="form-control"
          formControlName="state"
        />
        <div *ngIf="employeeForm.get('state').touched && !employeeForm.get('state').valid" class="text-danger">
          <div *ngIf="employeeForm.get('state').errors.required">
            State is Required
          </div>
        </div>
      </div>
      <div class="my-3">
        <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Update</button>
        &nbsp;<button type="button" class="btn btn-danger"  (click)="onCancel()">Cancel</button>
    </div>
    </form>
  </div>
  