<br/>
<br/>
<h3>What is NgRx?</h3>
<p>NgRx is a framework for building reactive applications in Angular. NgRx provides libraries for:</p>
<ul>
    <li>Managing global and local state.</li>
    <li>Isolation of side effects to promote a cleaner component architecture.</li>
    <li>Entity collection management.</li>
    <li>Integration with the Angular Router.</li>
    <li>Developer tooling that enhances developer experience when building many different types of applications.</li>
</ul>

<h3>State</h3>
<ul>
    <li>Store - RxJS powered global state management for Angular apps, inspired by Redux.</li>
    <li>Effects - Side effect model for @ngrx/store.</li>
    <li>Router Store - Bindings to connect the Angular Router to @ngrx/store.</li>
    <li>Entity - Entity State adapter for managing record collections.</li>
    <li>ComponentStore - Standalone library for managing local/component state.</li>
</ul>

<h3>Diagram</h3>
<p>The following diagram represents the overall general flow of application state in NgRx.</p>
<img class="life-cycle" src="https://ngrx.io/generated/images/guide/store/state-management-lifecycle.png" alt="State management lifecycle"/>
